

/* Reading styles here */
.readingBody{
  margin-top: 5%;
  width: 45%;
  margin-left: 5%;
  font-family: courier;
  font-size: 10pt;
}
.readingTitle{
  margin-top: 10%;
  width: 45%;
  margin-left: 5%;
  font-family: Arial;
  font-size: 36pt;
  text-align: center;
}

/* Response styles here */
.responseBox{
  width: 40%;
  margin-left: 55%;
  border: solid 3px red;
}

/* Menu styles here */

.menu {
  height: 99%;
  position: fixed;
  top: 0%;
  left:-15%;
  width: 20%;
  border: solid 3px red;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  flex: 1;
}
