
/* internal styles */
body {
  background-color: #edf1fe;
}
a {
  text-decoration: none;
  color: red;
}

ul {
  list-style-type: decimal;
}

h2{
  color: #ff0000;
}
h3 {
  color: #ff0000;
}
h5 {

}
/*main menu styles here */

.mainBackgroundText{
  color: #789922;
  font-size: 300px;
  position: fixed;
  z-index: -1;
  height: 50%;
  width: 95%;
  font-family: arial;
  text-align: center;
}
.mainLinkBox{
  background-color:#d6daf0;
  padding: 3%;
  margin-left: 10%;
  margin-top: 30%;
  width: 70%;
  top:10%;
  position: fixed;
  z-index: 0;
}
.mainTitle {
  margin-top: 10%;
  font-weight: bold;
  font-family: arial;
  font-size: 16pt;
  text-align: center;
  margin-bottom: 10%;
  color:#af0a0f;
}
.mainLink {
  color: black;
  font-family: arial;
}
.mainLink:hover {
  color:#789922;
}
.mainLinkPopup {
  position: fixed;
  margin-top:  0%;
  margin-left: 10%;
  font-size: 100px;
  font-family: arial;
  color: #dd0000;
  text-decoration: underline;

}
.mainLink1Popup {
  width: 45%;
  padding: 3%;
  background-color:#d6daf0;
  display: none;
}
.mainLink1Popup.show {

  display: block;
}
.mainLink2Popup {
  width: 45%;
  padding: 3%;
  background-color:#d6daf0;
  display: none;
}
.mainLink2Popup.show {

  display: block;
}
.mainLink3Popup {
  width: 45%;
  padding: 3%;
  background-color:#d6daf0;
  display: none;
}
.mainLink3Popup.show {

  display: block;
}
/* Reading styles here */
.readingBody{
  color: black;
  background-color:#d6daf0;
  margin-top: 0%;
  width: 50%;
  margin-left: 7%;
  font-family: arial;
  font-size: 14pt;
  padding: .3%;
}

.readingHighlight{
  font-family: Arial;
  font-size: 10pt;
  color: #117743;
  font-weight: bold;
}
.readingTitle{
  color: #af0a0f;
  margin-top: 5%;
  width: 50%;
  margin-left: 7%;
  font-family: Arial;
  font-size: 36pt;
  text-align: center;
}
.readingThread{
  color: black;
}
.readingAuthor{
  margin-top: 5%;
  width: 50%;
  margin-left: 7%;
  font-family: Arial;
  font-size: 10pt;
  color: #117743;
  font-weight: bold;
}
.notes {
  font-family: courier;
  font-size: 8pt;
}
/* footnote styles here */

.reference {
  border-bottom: #b7c5d9 solid;
  width: auto;
  color: black;
  text-align: center;
}
.footnote {
  position: fixed;
  width: 49%;
  margin-left: 7%;
  bottom:0%;
  background-color: #d6daf0;
}
.footnoteTxt {
  color:#789922;
  padding: 2%;
  text-align: left;
  font-size: 9pt;
  font-family: arial;

}
.footnote1 {
  display:none;
}
.footnote1.show {
  display: block;
}
.footnote2 {
  display:none;
}
.footnote2.show {
  display: block;
}
.footnote3 {
  display:none;
}
.footnote3.show {
  display: block;
}
.footnote4 {
  display:none;
}
.footnote4.show {
  display: block;
}
.footnote5 {
  display:none;
}
.footnote5.show {
  display: block;
}
.footnote6 {
  display:none;
}
.footnote6.show {
  display: block;
}
.footnote7 {
  display:none;
}
.footnote7.show {
  display: block;
}
.footnote8 {
  display:none;
}
.footnote8.show {
  display: block;
}
.footnote9 {
  display:none;
}
.footnote9.show {
  display: block;
}
.footnote10 {
  display:none;
}
.footnote10.show {
  display: block;
}
.footnote11 {
  display:none;
}
.footnote11.show {
  display: block;
}
.footnote12 {
  display:none;
}
.footnote12.show {
  display: block;
}
.footnote13 {
  display:none;
}
.footnote13.show {
  display: block;
}
.footnote14 {
  display:none;
}
.footnote14.show {
  display: block;
}
.footnote15 {
  display:none;
}
.footnote15.show {
  display: block;
}
.footnoteC1 {
  display:none;
}
.footnoteC1.show {
  display: block;
}
.footnoteC2 {
  display:none;
}
.footnoteC2.show {
  display: block;
}
.footnoteC3 {
  display:none;
}
.footnoteC3.show {
  display: block;
}
.footnoteC4 {
  display:none;
}
.footnoteC4.show {
  display: block;
}
.footnoteC5 {
  display:none;
}
.footnoteC5.show {
  display: block;
}
.footnoteC6 {
  display:none;
}
.footnoteC6.show {
  display: block;
}
.footnoteC7 {
  display:none;
}
.footnoteC7.show {
  display: block;
}
.footnoteC8 {
  display:none;
}
.footnoteC8.show {
  display: block;
}
.footnoteC9 {
  display:none;
}
.footnoteC9.show {
  display: block;
}
.footnoteC10 {
  display:none;
}
.footnoteC10.show {
  display: block;
}
.footnoteC11 {
  display:none;
}
.footnoteC11.show {
  display: block;
}
.footnoteC12 {
  display:none;
}
.footnoteC12.show {
  display: block;
}
.footnoteC13 {
  display:none;
}
.footnoteC13.show {
  display: block;
}
.footnoteC14 {
  display:none;
}
.footnoteC14.show {
  display: block;
}
.footnoteC15 {
  display:none;
}
.footnoteC15.show {
  display: block;
}
.footnoteC16 {
  display:none;
}
.footnoteC16.show {
  display: block;
}
.footnoteC17 {
  display:none;
}
.footnoteC17.show {
  display: block;
}
.footnoteC18 {
  display:none;
}
.footnoteC18.show {
  display: block;
}
.footnoteC19 {
  display:none;
}
.footnoteC19.show {
  display: block;
}
.footnoteC20 {
  display:none;
}
.footnoteC20.show {
  display: block;
}
.footnoteC21 {
  display:none;
}
.footnoteC21.show {
  display: block;
}
.footnoteC22 {
  display:none;
}
.footnoteC22.show {
  display: block;
}
.footnoteC23 {
  display:none;
}
.footnoteC23.show {
  display: block;
}
.footnoteC24 {
  display:none;
}
.footnoteC24.show {
  display: block;
}
.footnoteC25 {
  display:none;
}
.footnoteC25.show {
  display: block;
}

/* insert image styles here */

.inlineImg.enlarge {
  height: 125px;
  transition: 1s;
}

.insert1 {
  transition: 1s;
  height: 15px;
}
.insert2 {
  transition: 1s;
  height: 15px;
}
.insert3 {
  transition: 1s;
  height: 15px;
}
.insert4 {
  transition: 1s;
  height: 15px;

}
.insert5 {
  transition: 1s;
  height: 15px;
}
.insert6 {
  transition: 1s;
  height: 15px;
}
.insert7 {
  transition: 1s;
  height: 15px;
}
.insert8 {
  transition: 1s;
  height: 15px;
}
.insert9 {
  transition: 1s;
  height: 15px;
}
.insert10 {
  transition: 1s;
  height: 15px;
}
.insert11 {
  transition: 1s;
  height: 15px;
}
.insert12 {
  transition: 1s;
  height: 15px;
}
.insert13 {
  transition: 1s;
  height: 15px;
}
.insert14 {
  transition: 1s;
  height: 15px;
}
.insert15 {
  transition: 1s;
  height: 15px;
}
.insert16 {
  transition: 1s;
  height: 15px;
}
.insert17 {
  transition: 1s;
  height: 15px;
}

.insertB1 {
  transition: 1s;
  height: 15px;
}
.insertB2 {
  transition: 1s;
  height: 15px;
}
.insertB3 {
  transition: 1s;
  height: 15px;
}
.insertB4 {
  transition: 1s;
  height: 15px;

}
.insertB5 {
  transition: 1s;
  height: 15px;
}
.insertB6 {
  transition: 1s;
  height: 15px;
}
.insertB7 {
  transition: 1s;
  height: 15px;
}
.insertB8 {
  transition: 1s;
  height: 15px;
}
.insertB9 {
  transition: 1s;
  height: 15px;
}
.insertB10 {
  transition: 1s;
  height: 15px;
}
.insertB11 {
  transition: 1s;
  height: 15px;
}
.insertB12 {
  transition: 1s;
  height: 15px;
}




/* Response styles here */
.responseBox{

  width: 40%;
  height: 99vh;
  position: fixed;
  top:5%;
  right:0px;
  overflow: scroll;
  display: block;


}
    /*setting response height values so images don't crash into each other */
.response {
  margin-left: 3%;
  margin-right: 3%;
  background-color: #d6daf0;
  margin-top: 2%;
  height: 175px;


}
.responseResponse {

  margin-left: 3%;
  font-family: arial;
  color:#dd0000;

}
.insert1Response {
  display:none;
}
.insert1Response.show {
  display: block;
}
.responseImg {
  padding: 12px;
  height: 150px;
  float:left;

}

.responseTxt {
  padding-top: 20px;
  padding-right: 3%;

  color:#789922;
  font-family: arial;
  font-size: 10pt;

}
/* Menu styles here */

.menu {
  height: 99%;
  position: fixed;
  top: 0%;
  left:-25%;
  width: 30%;
  border: solid 3px red;
  display: flex;
  flex-direction: column;
  background-color: #d6daf0;
  flex: 1;
  transition: .5s;
}
.menu.moveRight {
  left: 0%;
  transition: .5s;
}
.menuItem {
  font-family: Arial;
  font-weight: bold;
  font-size: 28pt;
  margin: 25% 20% 6% 15%;
  text-align: center;


}
