.bodyText{

  font-family: courier;
  font-size: 14px;
  width:500px;

}
  h1{
    font-family: Times;
  }

.text1{
  padding: 2px;
  background-color: red;
  color:#fff;
}
.number:hover{
  background-color: blue;
  color: white;
}
.Smiley {
  float: right;
  display:none;

}
.SmileyEmojiImg{
  height: 15px;
    transition: 2s;
}
.SmileyEmojiImg.enlarge {
  transition: 2s;
  height: 100px;

}
.SmileyEmojiTxt{
  display:none;
}
.SmileyEmojiTxt.showme {
  display: inline-block;
  float: left;
  margin-left: 400px;
  top: 100px;
  position: fixed;
}
.SmileyEmojiImgInfo{
  height: 200px;
  vertical-align: top;

}


.Smiley.showme {
  color: red;
  display: block;
}

.thumbnail {
  width: 150px;
  transition: 2s;
}

.thumbnail.enlarge {

  margin-left: 500px;
}

.MellonImg {
  height: 20px;
  transition: 2s;
}
.MellonImg.enlarge {
  height: 100px;
  transition: 2s;
}

.MellonImgTxt{
  display:none;
}
.MellonImgTxt.showme {
  display: inline-block;
  float: left;
  margin-left: 400px;
  top: 100px;
  position: fixed;
}

.SubTitle{
  text-decoration: underline;
  font-style: italic;
  background-color: yellow;
  width: 400px;
  display: none;

}
.SubTitle.showme{
  text-decoration: underline;
  font-style: italic;
  background-color: yellow;
  width: 400px;
  display: block;


}
.questions {
  position: fixed;
  float:right;
  width: 200px;
  margin-top: 50px;
  margin-left: 900px;
  background-color: yellow;

}
