.bodyText{

  font-family: courier;
  font-size: 14px;
  width:500px;

}
  h1{
    font-family: Times;
  }

.text1{
  padding: 2px;
  background-color: red;
  color:#fff;
}
.number:hover{
  background-color: blue;
  color: white;
}
.Smiley {
  float: right;
  display:none;

}
.SmileyEmojiImg{
  height: 15px;
    transition: 1s;
}
.SmileyEmojiImg.enlarge {
  transition: 1s;
  height: 100px;

}
.SmileyEmojiImgInfo{
  height: 200px;
  vertical-align: top;

}


.Smiley.showme {
  color: red;
  display: block;
}

.thumbnail {
  width: 150px;
  transition: 1s;
}

.thumbnail.enlarge {

  margin-left: 500px;
}

.MellonImg {
  height: 20px;
  transition: 1s;
}
.MellonImg.enlarge {
  height: 100px;
  transition: 1s;
}

.SubTitle{
  text-decoration: underline;
  font-style: italic;
  background-color: yellow;
  width: 400px;
  display: none;

}
.SubTitle.showme{
  text-decoration: underline;
  font-style: italic;
  background-color: yellow;
  width: 400px;
  display: block;


}
.questions {
  position: fixed;
  float:right;
  width: 200px;
  margin-top: 50px;
  margin-left: 900px;
  background-color: yellow;

}

.RickAstley {
  height: 20px;
  width: 30px;
  transition: 1s;
}

.RickAstley.enlarge{
  width: 300px;
  height: 200px;
  transition: 1s;
}




.popup {
  width: 33%;
  height: 100vh;
  position: fixed;
  top:0px;
  right:0px;
  overflow: scroll;
  display: none;
}

.popup.showme {
  display: block;
}
