
/* internal styles */

a {
  text-decoration: none;
}
/* Reading styles here */

.readingBody{
  margin-top: 5%;
  width: 45%;
  margin-left: 5%;
  font-family: courier;
  font-size: 10pt;
}
.readingTitle{
  margin-top: 10%;
  width: 45%;
  margin-left: 5%;
  font-family: Arial;
  font-size: 36pt;
  text-align: center;
}

/* insert image styles here */

.insert1 {
  height: 15px;
}
.insert2 {
  height: 15px;
}
.insert3 {
  height: 15px;
}
.insert4 {
  height: 5%;
  width: 15px;
}
.insert5 {
  height: 15px;
}
.insert6 {
  height: 15px;
}
.insert7 {
  height: 15px;
}
.insert8 {
  height: 15px;
}
.insert9 {
  height: 15px;
}
.insert10 {
  height: 15px;
}
.insert11 {
  height: 15px;
}
.insert12 {
  height: 15px;
}
.insert13 {
  height: 15px;
}
.insert14 {
  height: 15px;
}
.insert15 {
  height: 15px;
}
.insert16 {
  height: 15px;
}
.insert17 {
  height: 15px;
}



/* Response styles here */
.responseBox{
  width: 40%;
  height: 100vh;
  position: fixed;
  top:0px;
  right:0px;
  overflow: scroll;
  display: block;
  background-color: lightgray;
}

.responseImg {
  height: 50px;
}

/* Menu styles here */

.menu {
  height: 99%;
  position: fixed;
  top: 0%;
  left:-15%;
  width: 20%;
  border: solid 3px red;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  flex: 1;
}
